@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  background-color: #e9eaec;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
}

#img-bcg {
  background-size: cover;
  height: 700px;
  width: 800px;
}

#img-info {
  background-size: cover;
  height: 700px;
  width: 800px;
}

#img-gameover {
  background-size: cover;
  height: 700px;
  width: 800px;
}

#my-canvas {
  background-color: #ebecee;
}

#instructions-btn {
  position: relative;
  top: -700px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding: 320px 250px;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

#instructions-btn p {
  position: relative;
  top: 200px;
}

#start-btn {
  position: absolute;
  top: 110px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding: 345px 400px;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
}

#restart-btn {
  position: relative;
  top: -770px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding: 300px 320px;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#splash-screen {
  display: flex; /* esto para ocultar pantallas */
  justify-content: center;
}

#instructions-screen {
  display: none; /* esto para ocultar pantallas */
  justify-content: center;
  color: black;
  font-weight: bold;
}

#my-canvas {
  display: none; /* esto para ocultar pantallas */
  /* justify-content: center; */
}

#canvas-div{
  display: none;
  justify-content: center;
 }

#gameover-screen {
  display: none; /* esto para ocultar pantallas */
  justify-content: center;
  color: black;
  font-weight: bold;
}

#gameover-screen p {
  position: relative;
  top: -570px;
  font-size: 30px;
}

#gameover-screen .thanks {
color: black;
font-size: 35px;
font-weight: bold;
}

#gameover-screen .btn {
  position: relative;
  top: 100px;
  font-size: 25px;
}

#gameover-screen .final-score{
  font-size: 20px;
}

#instructions {
  position: relative;
  top: -660px;
}

#instructions p {
  position: relative;
  text-align: center;
  top: 0px;
}

.p1,
.p2,
.p3 {
  font-size: 20px;
  text-align: center;
}
.drawings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card p {
  font-size: 20px;
}

.card img {
  height: 40px;
}

.hearts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hearts img {
  height: 40px;
}

.faces {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.faces .face {
  height: 100px;
}
.faces .arrow {
  height: 30px;
}

#score-screens{
  color: black;
  display: none;
  flex-direction: row;
  margin-top: 10px;
  justify-content:center
  
}

#score-screens .warning-shave {
  color: black;
  display: flex;
  flex-direction: row;
/*   justify-content: space-evenly; */
  font-size: 20px;
  align-items: center;
  font-weight: bold;
}

#score-screens .warning-cut {
  color: black;
  display: flex;
  flex-direction: row;
/*   justify-content: space-evenly; */
  font-size: 20px;
  align-items: center;
  font-weight: bold;
}

#score-screens .scores{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

#score-screens img{
  height: 40px;
}
