@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* General Elements ___________________________________________________*/
body {
  margin: 0;
  background-color: #e9eaec;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/LogoBackground.png");
  background-size: cover;
  background-position: 0px -430px;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  position: relative;
  top: 10px;
}

#bcg-song {
  position: fixed;
  top: 10px;
  right: 12px;
  width: 240px;
  height: 50px;
  z-index: 1;
  background-color: #dee0e2;
  border-style: solid;
  border-radius: 30px;
  border-width: 4px;
  font-weight: bold;
}

#play-pause {
  position: fixed;
  top: 80px;
  right: 12px;
  width: 248px;
  height: 58px;
  z-index: 1;
  background-image: url("../images/LogoBackground.png");
  /*   background-color: transparent; */
  border: none;
  display: none;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-style: solid;
  border-radius: 30px;
  border-width: 4px;
}

#play-pause img {
  width: 38px;
}

#difficulty-button {
  position: fixed;
  top: 223px;
  right: 12px;
  width: 248px;
  height: 58px;
  z-index: 1;
  /*   background-color: transparent; */
  background-image: url("../images/LogoBackground.png");
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-style: solid;
  border-radius: 30px;
  border-width: 4px;
}
#auto-difficulty-button {
  position: fixed;
  top: 151px;
  right: 12px;
  width: 248px;
  height: 58px;
  z-index: 1;
  background-image: url("../images/LogoBackground.png");
  border: none;
  display: none;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-style: solid;
  border-radius: 30px;
  border-width: 4px;
}

#auto-difficulty-button img {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

/* Splash Screen ___________________________________________________ */

#img-bcg {
  background-size: cover;
  height: 690px;
  width: 800px;
  border: 4px solid black;
}

#instructions-btn {
  position: relative;
  top: -700px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding: 320px 250px;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

#instructions-btn p {
  position: relative;
  top: 200px;
}

#splash-screen {
  display: flex;
  justify-content: center;
}

/* Instructions Screen ___________________________________________________*/

#img-info {
  background-size: cover;
  height: 690px;
  width: 800px;
  border: 4px solid black;
}

#start-btn {
  position: absolute;
  top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding: 350px 400px;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

#instructions-screen {
  display: none; /* Hide screen */
  justify-content: center;
  color: black;
  font-weight: bold;
}

#instructions {
  position: relative;
  top: -690px;
}

#instructions p {
  position: relative;
  text-align: center;
  top: 0px;
}

.p1,
.p2,
.p3, .p4 {
  font-size: 20px;
  text-align: center;
}
.drawings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card p {
  font-size: 20px;
}

.card img {
  height: 40px;
}

.hearts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hearts img {
  height: 40px;
}

.faces {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.faces .face {
  height: 100px;
}
.faces .arrow {
  height: 30px;
}

/* Game Screen ___________________________________________________*/

#my-canvas {
  display: none; /* Hide screen */
  /*   background-color: transparent; */
}



#canvas-div {
  display: none; /* Hide screen */
}

#score-screens {
  color: black;
  display: none;
  flex-direction: row;
  margin-top: 0px;
  padding: 10px 0px;
  justify-content: flex-end;
  font-size: 20px;
  border-top: 0px;
  border-bottom: 3px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: black;
}

#score-screens .life-3 {
  margin-right: 10px;
}

#score-screens .cut-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 30px;
}

#score-screens .shave-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 30px;
  margin-left: 40px;
  border-top: 0px;
}

.warning-shave {
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  font-weight: bold;
  margin-right: 15px;
  opacity: 0;
}

.warning-cut {
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  font-weight: bold;
  margin-left: 15px;
  opacity: 0;
}

#score-screens .scores {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

#score-screens img {
  height: 40px;
}

/* GameOver Screen ___________________________________________________*/

#restart-btn {
  position: relative;
  top: -970px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding: 300px 320px;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

#img-gameover {
  background-size: cover;
  height: 690px;
  width: 800px;
  border: 4px solid black;
}

#gameover-screen {
  display: none; /* Hide screen */
  justify-content: center;
  color: black;
  font-family: "Roboto", sans-serif;
}

#gameover-screen p {
  position: relative;
  top: 0px;
  font-size: 30px;
}

#gameover-screen .highScore {
  top: -690px;
  font-size: 21px;
}

#gameover-screen .thanks {
  color: black;
  font-size: 35px;
  top: -680px;
}

#gameover-screen .btn {
  top: 200px;
  font-size: 30px;
}

#gameover-screen .final-score {
  font-size: 28px;
  position: relative;
  top: -650px;
}
/*  ___________________________________________________*/
