@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  background-color: #e9eaec;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  background-image: url("images/LogoBackground.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

body .audio {
  position: relative;
  top: 500;
}

#img-bcg {
  background-size: cover;
  height: 690px;
  width: 800px;
  border: 4px solid black;
}

#img-info {
  background-size: cover;
  height: 690px;
  width: 800px;
  border: 4px solid black;
}

#img-gameover {
  background-size: cover;
  height: 690px;
  width: 800px;
  border: 4px solid black;
}

#my-canvas {
  background-color: #ebecee;
}

#instructions-btn {
  position: relative;
  top: -700px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding: 320px 250px;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

#instructions-btn p {
  position: relative;
  top: 200px;
}

#start-btn {
  position: absolute;
  top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding: 350px 400px;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

#restart-btn {
  position: relative;
  top: -880px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  padding: 310px 365px;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  position: relative;
  top: -45px;
}

#splash-screen {
  display: flex; /* esto para ocultar pantallas */
  justify-content: center;
  
}

#instructions-screen {
  display: none; /* esto para ocultar pantallas */
  justify-content: center;
  color: black;
  font-weight: bold;
}

/* #my-canvas {display: none; /* esto para ocultar pantallas */
/* 
#canvas-div{
  display: none;
  justify-content: center;
 } */

#gameover-screen {
  display: none; /* esto para ocultar pantallas */
  justify-content: center;
  color: black;
  font-weight: bold;
}

#gameover-screen p {
  position: relative;
  top: -570px;
  font-size: 30px;
}

#gameover-screen .thanks {
color: black;
font-size: 35px;
font-weight: bold;
}

#gameover-screen .btn {
  position: relative;
  top: 150px;
  font-size: 25px;
}

#gameover-screen .final-score{
  font-size: 20px;
}

#instructions {
  position: relative;
  top: -660px;
}

#instructions p {
  position: relative;
  text-align: center;
  top: 0px;
}

.p1,
.p2,
.p3 {
  font-size: 20px;
  text-align: center;
}
.drawings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card p {
  font-size: 20px;
}

.card img {
  height: 40px;
}

.hearts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hearts img {
  height: 40px;
}

.faces {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.faces .face {
  height: 100px;
}
.faces .arrow {
  height: 30px;
}

#score-screens{
  color: black;
  display: none;
  flex-direction: row;
  margin-top: 0px;
  padding: 0px 17px ;
  justify-content: flex-end;
  /* justify-content:space-around */
  font-size: 20px;
/*   border-top: 0px;
  border-bottom: 4px;
  border-left: 4px;
  border-right: 4px;
  border-style: solid;
  border-color: black; */

}

#score-screens .life-3{
  margin-right: 10px;
}

#score-screens .cut-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 30px;
}

#score-screens .shave-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 30px;
  margin-left: 40px;
}

.warning-shave {
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  font-weight: bold;
  margin-right: 15px;
  opacity: 0;
}

.warning-cut {
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  font-weight: bold;
  margin-left: 15px;
  opacity: 0;
}

#score-screens .scores{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

#score-screens img{
  height: 40px;
}

/* #bcg-song{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: -100px;
  left: 4px;
  width: 250px;
} */

